<div class="buyer-order-detail" ng-controller="orderDetailsCtrl" ng-init="init(<%=@order_id%>)">
  <div ng-if="order.status=='<%=OrderStatus::PAYABLE%>'" class="buyer-order-detail__title"><a ng-click="cancelOrder()"  class="cancel_button" >取消订单</a> <a href="/payment/<%=@order_id%>"  class="confirm_button" >立即支付</a> </div>
  <div ng-if="order.status=='<%=OrderStatus::TO_DELIVER%>' && order.delivery_date_time*1> <%=@date_str%>*1" class="buyer-order-detail__title"><a ng-click="cancelOrder()"  class="cancel_button" >取消订单</a> <span style="color: grey"> 下单当日晚上12点前可以取消订单 </span></div>
  <div ng-if="order.status=='<%=OrderStatus::DELIVERED%>'" class="buyer-order-detail__title"><a ng-click="confirmDelivered()"  class="confirm_button" >确认收货</a> <a ng-click="complaint()"  class="cancel_button" >我要投诉</a></div>
  <div ng-if="order.status=='<%=OrderStatus::TO_COMMENT%>'" class="buyer-order-detail__title"><a href="/feedback/<%=@order_id%>"  class="confirm_button" >评论此次交易</a> </div>
  <div class="buyer-order-detail__metadata">
    <div class="buyer-order-detail__metadata-item" >送货日期: <span style="float: right;" >{{order.delivery_date_time_str}}</span></div>
    <div class="buyer-order-detail__metadata-item">货单号: <span style="float: right;" >  {{order.id}}</span> </div>
    <div class="buyer-order-detail__metadata-item">付款:  <span style="float: right;" >{{order.amount}}元</span></div>
    <div class="buyer-order-detail__metadata-item">订单状态:  <span style="float: right;"  >{{order.status_str}}</span></div>
    <div class="buyer-order-detail__metadata-item">附加描述:  <span style="float: right;" >{{order.comment}}</span></div>
  </div>
  <div class="buyer-order-detail__items">
    <div class="buyer-order-detail__item" ng-repeat="item in items">
      <div class="buyer-order-detail__thumbnail" background-image="{{ item.pic }}"></div>
      <div class="buyer-order-detail__body">
        <div class="buyer-order-detail__line buyer-order-detail__line--1">
          <div class="buyer-order-detail__name">{{ item.name }}</div>
        </div>
        <div class="buyer-order-detail__line buyer-order-detail__line--2">
          <div class="buyer-order-detail__price">{{ item.price }}/{{item.unit}}</div>
          <div class="buyer-order-detail__quantity">
            <span>数量:</span>
            <span>{{ item.quantity }}</span>
          </div>
          <div class="buyer-order-detail__total">
            <span>总价:</span>
            <span class="red">{{ item.quantity * item.price }}元</span>
          </div>
        </div>
      </div>
    </div>
  </div>




